$primary-color: #2a5bb8;
$secondary-color: #4972BF;
$main-text-color: #4A4747;
$secondary-text-color: #5B5959;
$white-color: #fff;
$border-color: 1px inset #ababab;
$web-view: 60%;
$table-view: 80%;
$phone-view: 90%;
$primary-side-color: #1A2124;
$secondary-side-color: #222D33;
@font-face {
    font-family: OS-Bold;
    src: url('/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OS-BoldItalic;
    src: url('/fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: OS-ExtraBold;
    src: url('/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: OS-ExtraBoldItalic;
    src: url('/fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: OS-Italic;
    src: url('/fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: OS-LightItalic;
    src: url('/fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: OS-Regular;
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OS-Semibold;
    src: url('/fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: OS-SemiboldItalic;
    src: url('/fonts/OpenSans-SemiboldItalic.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $main-text-color;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    box-sizing: border-box;
}
.b-nav-main {
    a{
        position: relative;
        font-family: OS-Regular;
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    width: 100%;
    height: 50px;
    background: $primary-color;
    .container-fluid {
        width: 80%;
        .b-categories {
            width: 100%;
                .b-menu{
                    cursor: pointer;
                    border-left: 1px solid rgb(196, 196, 196);
                    display: inline-block;
                    width: 125px;
                    height: 50px;
                    margin: 0px -3px;
                    padding: 15px 4px;
                    span{
                        background: #fff;
                        position: absolute;
                        height: 3px;
                        &:nth-child(1){
                        top: 17px;
                        width: 10px;
                        }
                        &:nth-child(2){
                        top: 22px;
                        width: 15px;
                        }
                        &:nth-child(3){
                        top: 27px;
                        width: 10px;
                        }
                    }
                    a{
                        left: 20px;
                        top: -5px;
                    }
                }
       .sub-links{
            padding: 13px 8px;
            display: inline;
            margin: 0px -2px;
            top: -5px;
            border-left: 1px solid rgb(196, 196, 196);
        }
        .b-user-dropdown{
            cursor: pointer;
            height: 50px;
            width: auto;
            padding: 10px 0px;
            float: right;
            color: #fff;
            li{
                text-transform: capitalize;
                font-family: OS-Regular;
                font-size: 1.2rem;
               text-align: center;
            }
        }
        .b-login-link{
            height: 50px;
            width: 50px;
            padding: 10px 0px;
            float: right;
        }
    }
  }

.user-down.clicked{
    display: block;
}
.user-down{
    z-index: 20;
    display: none;
    border-radius: 5px;
    background: #fff;
    height: auto;
    width: 135px;
    top: 38px;
    left: 63px;
    float: right;
    position: relative;
    a{
        padding: 5px;
        margin: 0;
        color: #4A4747;
    }
}
#drop-item-container{
    max-width: 80%;
    z-index: -2;
    display: none;
}
#drop-item-container.clicked{
    display: block;
}
  .drop-item{
      position: relative;
      z-index: 20;
      height: 200px;
      width: 600px;
      display: inline-block;
      background: transparent;
      .drop-left{
          
          li{
                margin: 10px;
              cursor: pointer;
          }
          a{
            color: #4A4747;

          }
         float: left;
        height: 200px;
        width: 200px;
        background: #fff;
      }
      .drop-right{
        float: right;
        height: 200px;
        width: 400px;
        background: $primary-color;
        li{
            display: inline-block;
            font-size: 0.8rem;
            margin: 10px; 
        }
      }
  }
}
.b-nav-header {
    position: relative;
    z-index: 10;
    height: auto;
    width: 100%;
    background: linear-gradient(black, $primary-color);
    .container-fluid {
        width: 80%;
        height: auto;
        h1,
        h2 {
            position: relative;
            top: 15px;
            font-family: OS-Bold;
            color: #fff;
        }
        img {
            margin-top: 30px;
        }
    }
}
.container.panel{
    font-family: OS-Regular;
    height: 500px;
    background: #fff;
    margin: 20px auto;
    .post-box{
        position: relative;
        top: 30px;
        height: 150px;
        width: 320px;
        border: 1px solid #ababab;
    }
}

.b-create{
    h1{
        font-family: OS-Bold;
        span{
            font-size: 1.2rem;
        }
    }
    form{
    height: auto;
    padding: 35px;
    background: #fff;
    position: relative;
    top: 10px;
       input{
        font-size: 1.2rem;
        outline: #fff;
        display: block;
        height: 35px;
        width: 100%;
        padding: 0px 10px;
        border-radius: 2px;
        border: 1px solid #d1d1d1;
        &:-webkit-autofill{
            -webkit-text-fill-color: #fff;
        }
       }
    }
    textarea{
        border: 1px solid #d1d1d1 !important;
    }
    button{
        position: relative;
        top: 10px;
        font-size: 1.2rem;
        font-family: OS-Regular;
        margin: 10px 0px;
        padding: 5px 20px;
        background: $primary-color;
        border-radius: 2px;
        border: none;
        color: #fff;
    }
}

.b-requests {
    background: #fff;
    height: 500px;
    .row{
        .box{
            margin: 15px auto;
            height: 50px;
            border-radius: 2px;
            border: 1px solid #ababab;
            h2{
                padding: 10px 0px;
                display: inline-block;
                a{
                    color: #313131;
                    text-decoration: none;
                    &:hover{
                        text-decoration-line: underline;
                    }
                }
            }
            i{
                color: #fff;
            }
            .edit{
                border-radius: 2px;
                padding: 10px 20px;
                background: $primary-color;
                float: right;
                position: relative;
                left: -55px;
                top: 5px;
            }
            button{
                border-radius: 2px;
                height: 38px;
                width: 50px;
                border: none;
                background: red;
                top: -42px;
                position: relative;
                float: right;
            }
        }
    }
}
.b-reqpost-container{
    margin: 15px auto;
    background: white;
    height: 100vh;
    .b-reqpost{
        width: 80%;
        margin: 0 auto;
        padding: 20px 15px;
        h1{
            font-family: OS-Bold;
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            font-family: OS-Regular;
        }
    }
} 