@keyframes slideSideBar {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}
@keyframes CloseSideBar {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}

// For navigation
@media screen and (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }
}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 1466px) {
  .container-fluid {
    max-width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .b-post img {
    width: 100% !important;
    height: auto !important;
  }
  .container-fluid {
    max-width: 90%;
  }
  .col-lg-9 {
    border: none !important;
  }
  .b-radioastronomy {
    .sidebar{
    width: 200px;
    }
    .page {
      width: 65%;
    }
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    max-width: 90%;
  }
  .b-categories,
  #drop-item-container {
    display: none !important;
  }
  .b-mobile-hamburger {
    float: left;
    height: 50px;
    width: 30px;
    span {
      border-radius: 3px;
      background: #fff;
      position: absolute;
      height: 4px;
      &:nth-child(1) {
        top: 13px;
        width: 20px;
      }
      &:nth-child(2) {
        top: 22px;
        width: 26px;
      }
      &:nth-child(3) {
        top: 31px;
        width: 18px;
      }
    }
  }
  .b-mobile-sidebar {
    display: none;
    position: absolute;
    height: 999px;
    width: 250px;
    left: 0;
    z-index: 999;
    background: #3761ad;
    overflow-y: scroll;
    h1 {
      font-size: 2rem;
      margin: 10px;
      color: #fff;
      font-weight: bold;
    }
    h2,
    a {
      margin: 10px;
      color: #fff;
    }
    li {
      margin: 10px 0px;
    }
  }
  .mobile-categories {
    display: none;
  }
  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 999px;
    z-index: 998;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.582);
  }
  .b-mobile-sidebar.clicked {
    display: block;
    overflow: hidden;
    animation: slideSideBar 0.2s both;
  }
  .b-mobile-sidebar.hid {
    animation: CloseSideBar 0.2s both;
  }
  .overlay.clicked {
    display: block;
  }
  .b-radioastronomy {
    .sidebar{
      display: none;
    }
    .page {
      margin: 0 auto;
      padding: 15px;
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
}
@media (min-width: 480px) {
}
