@keyframes opensidebar{
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}
@-moz-keyframes opensidebar{
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}
@-webkit-keyframes opensidebar{
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes closesidebar{
  from{
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}
@-moz-keyframes closesidebar{
  from{
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}
@-webkit-keyframes closesidebar{
  from{
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}

// For navigation
@media screen and (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .b-body .home-row .col-lg-9{
    border: none;
  }
}

@media screen and (max-width: 1466px) {
  .container-fluid {
    max-width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .b-body .home-row .col-lg-9 .box{
    overflow: hidden;
    max-width: 28%;
    img{
      width: 100%;
    }
  }
  .b-post img {
    width: 100% !important;
    height: auto !important;
  }
  .container-fluid {
    max-width: 90%;
  }
  .b-radioastronomy {
    .sidebar{
    width: 200px;
    }
    .page {
      width: 65%;
    }
    img{
      width: 100%;
    }
  }
}

// Yesterday's work
@media screen and (max-width: 767px) {
  .b-body{
    width: 60% !important;
    .home-row{
      .col-lg-9{
        margin: 0 auto;
        width: 19rem;
        .box{
          max-width:100%;
        }
      }
    }
  }
  .container-fluid {
    max-width: 90%;
  }
  .b-categories,
  #drop-item-container {
    display: none !important;
  }
  .sidebar{
    display: none !important;
  }
  .b-mobile-hamburger {
    float: left;
    height: 50px;
    width: 30px;
    span {
      border-radius: 3px;
      background: #fff;
      position: absolute;
      height: 4px;
      &:nth-child(1) {
        top: 13px;
        width: 20px;
      }
      &:nth-child(2) {
        top: 22px;
        width: 26px;
      }
      &:nth-child(3) {
        top: 31px;
        width: 18px;
      }
    }
  }

  .b-mobile-sidebar.open{
    animation: opensidebar 0.2s both;
  }
  .b-mobile-sidebar.close{
    animation: closesidebar 0.2s both;
  }
  .b-mobile-sidebar {
    transform: translateX(-250px);
    position: absolute;
    height: 999px;
    width: 250px;
    left: 0;
    z-index: 999;
    background: #3761ad;
    overflow-y: scroll;
    h1 {
      font-size: 2rem;
      margin: 10px;
      color: #fff;
      font-weight: bold;
    }
    h2{
      i{
        transform: translateY(10%) rotate(0deg);
        transition: tranform 0.2s ease;
        float: right;
      }
      i.clicked{
        transform: translateY(10%) rotate(90deg);
        transition: tranform 0.2s ease;
      }
    }
    h2,
    a {
      margin: 10px;
      color: #fff;
    }
    li {
      background: #2a437a;
      padding: 5px 0px;
    }
    .items{
      overflow: auto;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    .items.clicked{
      max-height: 225px;
      transition: max-height 0.2s ease-in;
    }
  }
  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 999px;
    z-index: 998;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.582);
  }
  .b-radioastronomy {
    .page {
      margin: 0 auto;
      padding: 15px;
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
  .b-body .home-row .b-sub-sections .icon-body{
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .b-body{
    width: 90% !important;
  }
  .b-login .b-form{
    width: 100%;
    padding: 20px;
  }
  .b-register form{
    width: 100%;
    padding: 20px;
  }
}
