<div class="container b-login">
  {{#if error}}
  <div class="b-warning" id="warning">
    <h3>{{error}}</h3>
  </div>
  {{/if}}
  {{#if notauth}}
  <div class="b-warning" id="warning">
    <h3>{{notauth}}</h3>
  </div>
  {{/if}}
  {{#if success}}
  {{#each success}}
  <h1>{{msg}}</h1>
  {{/each}}
  {{/if}}
<form class="b-form" action="/admin/login" method="post">
  <h2>Login To Your Account</h2>
  <input type="text" name="username" placeholder="Username*" id="username">
  <input type="password" name="password" placeholder="Password*" id="password">
  <button type="submit">Login</button>
  <a href="#">Forgot Password?</a>
</form>
</div>