<div class="container b-requests">
    <div class="requests-article-wrapper">
      <div class="box">
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ea.</h4>
          <a href="#">test</a>
          <a href="#">test</a>
      </div>
    </div>
</div>