<form action="/admin/upload?CKEditor=editor&CKEditorFuncNum=1&langCode=en-gb" method="POST" enctype="multipart/form-data" id="form">
<h1>{{error}}</h1>
  <label for="image">Image</label>
  <input name="imageuploader" type="file" id="file" onchange="javascript:this.form.submit()">
</form>
<div class="container">
  <img onclick="returnFileUrl()" src="../temp/{{imgfile}}" id="img" height="200" width="200">
</div>