<nav class="b-nav-main">
    <div class="container">
        <div class="b-categories">
            <span></span>
            <span></span>
            <span></span>
            <a href="#">Categories</a>
        </div>
        <a class="top-link" href="#">News</a>
        <a class="top-link" href="#">Community</a>
        <div class="b-search">
            <input id="search-bar" type="text" placeholder="Search...">
           <i class="fa fa-search" ></i>
        </div>
        <div class="b-dropnav">
            <ul>
                <li><a href="#">Radio Astronomy</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Observations</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="b-nav-header">
    <div class="container">
        <h1>British Astronomical Association</h1>
        <h2>British Astronomy Group</h2>
        <img src="/img/main-logo.png" alt="BAG Logo">
    </div>
</header>