<nav class="b-nav-main">
    <div class="container-fluid">
        <div class="b-categories">
            <div class="b-menu">
                <span></span>
                <span></span>
                <span></span>
                <a href="#">Categories</a>
            </div>
            <a class="sub-links" href="/home">Home</a>
            {{#if user}}
            {{#if user.admin}}
            <a class="sub-links" href="/admin/requested">Requested</a>
            {{/if}}
            <div class="b-user-dropdown">
                <li>{{user.firstname}}
                    <i class="fa fa-caret-down"></i>
                </li>
            </div>
            <div class="user-down">
                <a href="/user">Dashboard</a>
                <a href="/user/logout">Logout</a>
            </div>
            {{else}}
            <a class="b-login-link" href="/home/register">Register</a>
            <a class="b-login-link" href="/home/login">Login</a>
            {{/if}}
        </div>
    </div>
    <div class="container-fluid" id="drop-item-container">
        <div class="drop-item">
            <div class="drop">
                <ul>
                    <li>
                        <a href="/pages/radioastronomy/getting-started">Radio Astronomy</a>
                        <i class="fa fa-angle-right"></i>
                        <ul id="sub-links">
                            <li><a href="/pages/radioastronomy/getting-started">Getting Started</a></li>
                            <li><a href="/pages/radioastronomy/radiospectrum">Radio Spectrum</a></li>
                            <li><a href="/pages/radioastronomy/VLF Solar">VLF Solar</a></li>
                            <li><a href="/pages/radioastronomy/getting-started">More...</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                        <i class="fa fa-angle-right"></i>
                        <ul id="sub-links">
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                        <i class="fa fa-angle-right"></i>
                        <ul id="sub-links">
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Demo</a>
                        <i class="fa fa-angle-right"></i>
                        <ul id="sub-links">
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Demo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Mobile Hamburger Menu-->
    <div class="container-fluid mobile-navbar">
        <div class="b-mobile-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-mobile-sidebar">
            <div class="mobile-categories">
                <h1>Categories </h1>
                <li><a href="/home">Home</a></li>
                {{#if user}}
                <li><a href="/user">Dashboard</a></li>
                {{#if user.admin}}
                <li><a href="/admin/requested">Requested</a></li>
                {{/if}}
                <li><a href="/user/logout">Log out</a></li>
                {{else}}
                <li>
                    <a href="/home/login">Log In</a>
                </li>
                <li>
                    <a href="/home/register">Register</a>
                </li>
                {{/if}}
                <h2 id="heading">Radio Astronomy <i class="fa fa-angle-right" id="arrow"></i></h2>
                <div class="items">
                <li>
                    <a href="/pages/radioastronomy/getting-started">Getting Started</a>
                </li>
                <li>
                    <a href="/pages/radioastronomy/radiospectrum">Radio Spectrum</a>
                </li>
                <li>
                    <a href="/pages/radioastronomy/VLF Solar">VLF Solar</a>
                </li>
                <li>
                    <a href="/pages/radioastronomy/getting-started">Magnetometry</a>
                </li>
                <li>
                    <a href="/pages/radioastronomy/Simple%20radio%20astronomy">Simple Radio Astronomy</a>
                </li>
                <li>
                    <a href="/pages/radioastronomy/Radio%20Jove">Radio Jove</a>
                </li>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</nav>
<header class="b-nav-header">
    <div class="container-fluid">
        <h1>British Astronomical Association</h1>
        <h2>British Astronomy Group</h2>
        <img src="/img/main-logo.png" alt="BAG Logo">
    </div>
</header>