<h1>Radio Astronomy</h1>
<ul class="sub-links">
  <li><a href="/pages/radioastronomy/getting-started">Getting Started</a></li>
  <li><a href="#">Radio Spectrum</a></li>
  <li><a href="#">VLF Solar</a></li>
  <li><a href="#">Simple Radio Astronomy</a></li>
  <li><a href="#">Radio Jove</a></li>
  <li><a href="#">Meteor Reflections</a></li>
</ul>