<!-- Created by Sijey-->
<!-- Test First -->
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"> <meta name="description" content="This is britastro radio website"> <meta name="keywords" content="Britastro, Blog, Radio Astronomical Association, Radio Astronomy GROUP, BAG"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"> <link rel="stylesheet" href="/css/bootstrap.grid.css"> <link rel="stylesheet" href="/css/fontawesome.css">
 <link rel="stylesheet" href="/css/media-style.css"> <link rel="stylesheet" href="/css/admin.css"> <title>Welcome to Britastro | Radio</title>
 
</head>
  <body>
    {{> _usernavbar}}
    {{{body}}}

    <script src="/js/jquery.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/panelfunc.js"></script>
     <script>
       UPLOADCARE_PUBLIC_KEY = '698724f78d8d5366060f';
      CKEDITOR.replace( 'editor', {
        extraPlugins: 'uploadcare',
            uploadcare: {
                multiple: true
            }
      });
    </script>
</body>
</html>