<!-- Created by Sijey-->
<!-- Test First -->
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"> <meta name="description" content="This is britastro radio website"> <meta name="keywords" content="Britastro, Blog, Radio Astronomical Association, Radio Astronomy GROUP, BAG"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"> <link rel="stylesheet" href="/css/bootstrap.grid.css"> <link rel="stylesheet" href="/css/fontawesome.css">
 <link rel="stylesheet" href="/css/ckeditor.css">
 <link rel="stylesheet" href="/css/media-style.css"> <link rel="stylesheet" href="/css/admin.css"> <title>Welcome to Britastro | Radio</title>
 
</head>
  <body>
    {{> _navbar}}
    {{{body}}}

    <script src="/js/jquery.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/panelfunc.js"></script>
    <script>
        window.onload = function() {
            CKEDITOR.replace( 'editor',{
            /* contentsCss: "body {font-size: 1re,; font-family: 'Open-Sans'; margin 10px;}", */
            resize_dir: 'both',
			height: 400,
			resize_dir: 'both',
			resize_minWidth: 200,
			resize_minHeight: 300,
			resize_maxWidth: 800,
            filebrowserBrowseUrl : '/admin/upload',
            
        })
        CKEDITOR.on( 'dialogDefinition', function( ev ) {                
                    var dialogName = ev.data.name;
                    var dialogDefinition = ev.data.definition;                    

                    if ( dialogName == 'image' ) {
                        dialogDefinition.removeContents( 'advanced' );                        
                        dialogDefinition.removeContents( 'Link' );
                    }
                });

 
        }
      // Helper function to get parameters from the query string.
        function getUrlParam( paramName ) {
            var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' );
            var match = window.location.search.match( reParam );

            return ( match && match.length > 1 ) ? match[1] : null;
        }
        // Simulate user action of selecting a file to be returned to CKEditor.
        function returnFileUrl() {
            var imgSrc = document.getElementById('img').src
            var funcNum = getUrlParam( 'CKEditorFuncNum' );
            window.opener.CKEDITOR.tools.callFunction( funcNum, imgSrc, function() {
                // Get the reference to a dialog window.
                var dialog = this.getDialog();
                // Check if this is the Image Properties dialog window.
                if ( dialog.getName() == 'image' ) {
                    // Get the reference to a text field that stores the "alt" attribute.
                    var element = dialog.getContentElement( 'info', 'txtAlt' );
                    // Assign the new value.
                    if ( element )
                        element.setValue( 'alt' );
                }
            } );
            window.close();
        }
    </script>
</body>
</html>