<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is britastro radio website">
    <meta name="keywords" content="Britastro, Blog, Radio Astronomical Association, Radio Astronomy GROUP, BAG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compati2eble" content="ie=edge">
    <link rel="icon" href="/img/main-logo.png" sizes="40x40">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/media-query.css">
    <link rel="stylesheet" href="/css/bootstrap.grid.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/pickaday.css">
    <title>Welcome to Britastro | Radio</title>
</head>

<body>
    {{> _navbar}} 
     {{{body}}}
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/ckeditorConfig.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/pickaday.js"></script>
    <script>
   var picker = new Pikaday(
    {
        field: document.getElementById('datepicker'),
        firstDay: 1,
        minDate: new Date(),
        maxDate: new Date(2020, 11, 31),
        yearRange: [2000,2020],
    });

    </script>
</body>

</html>