<!-- Created by Sijey-->
<!-- Test First -->
<!DOCTYPE html>
<html lang="en">
<head>
        {{!-- <meta property="dc:language" content="en" />
    <meta property="dc:source" content="http://xdsoft.net/jodit/" />
    <meta property="dc:title" content="Jodit WYSIWYG editor | Pure JavaScript | FileBrowser and Editor Jodit" />
    <meta property="dc:description" content="Jodit WYSIWYG simple to use rich text editor with best filebrowser and minimal interface" />
    <meta property="dc:subject" content="Jodit WYSIWYG editor | Pure JavaScript | FileBrowser and Editor Jodit" />
    <meta property="dc:coverage" content="World" /> --}}
 <meta charset="UTF-8"> <meta name="description" content="This is britastro radio website"> <meta name="keywords" content="Britastro, Blog, Radio Astronomical Association, Radio Astronomy GROUP, BAG"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compati2eble" content="ie=edge"> <link rel="stylesheet" href="/css/style.css"> <link rel="stylesheet" href="/css/bootstrap.grid.css"> <link rel="stylesheet" href="/css/fontawesome.css">
 <link rel="stylesheet" href="/css/media-style.css"> <title>Welcome to Britastro | Radio</title>
</head>
<body>
    {{> _navbar}}
    {{{body}}}
    <script src="/js/jquery.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>