<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"> <meta name="description" content="This is britastro radio website"> <meta name="keywords" content="Britastro, Blog, Radio Astronomical Association, Radio Astronomy GROUP, BAG"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"> <link rel="stylesheet" href="/css/style.css"> <link rel="stylesheet" href="/css/bootstrap.grid.css"> <link rel="stylesheet" href="/css/fontawesome.css">
 <link rel="stylesheet" href="/css/media-style.css"> <title>Welcome to Britastro | Radio</title>
</head>
<body>
    {{> _navbar}}
    <div class="container-fluid b-sub">
      <div class="row">
        <div class="col-lg-2">
        {{> _sidebar}}
        </div>
        <div class="col-lg-10">
        {{{body}}}
        </div>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/function.js"></script>
</body>
</html>