<h1>Radio Astronomy</h1>
<ul class="sub-links">
  <li>
    <a href="/pages/radioastronomy/getting-started">Getting Started</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/radiospectrum">Radio Spectrum</a>
  </li>
  <li>
    <a href="#">DEMO</a>
  </li>
  <li>
    <a href="#">DEMO</a>
  </li>
  <li>
    <a href="#">DEMO</a>
  </li>
  <li>
    <a href="#">DEMO</a>
  </li>
</ul>