<h1>Radio Astronomy</h1>
<ul class="sub-links">
  <li>
    <a href="/pages/radioastronomy/getting-started">Getting Started</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/radiospectrum">Radio Spectrum</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/VLF Solar">VLF Solar</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/Magnetometry">Magnetometry</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/Simple%20radio%20astronomy">Simple Radio Astronomy</a>
  </li>
  <li>
    <a href="/pages/radioastronomy/Radio%20Jove">Radio Jove</a>
  </li>
</ul>