@font-face {
  font-family: OS-Bold;
  src: url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: OS-BoldItalic;
  src: url("/fonts/OpenSans-BoldItalic.ttf"); }

@font-face {
  font-family: OS-ExtraBold;
  src: url("/fonts/OpenSans-ExtraBold.ttf"); }

@font-face {
  font-family: OS-ExtraBoldItalic;
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf"); }

@font-face {
  font-family: OS-Italic;
  src: url("/fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: OS-LightItalic;
  src: url("/fonts/OpenSans-LightItalic.ttf"); }

@font-face {
  font-family: OS-Regular;
  src: url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: OS-Semibold;
  src: url("/fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: OS-SemiboldItalic;
  src: url("/fonts/OpenSans-SemiboldItalic.ttf"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4A4747;
  padding: 0;
  margin: 0;
  /* Change if later*/ }

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  box-sizing: border-box; }

.b-nav-main {
  width: 100%;
  height: 50px;
  background: #2a5bb8; }
  .b-nav-main .container {
    padding: 15px 0px; }
    .b-nav-main .container .b-categories {
      display: inline-block; }
      .b-nav-main .container .b-categories a {
        border-left: rgba(255, 255, 255, 0.5) solid 1px;
        padding: 16px 2px 15px 30px;
        color: #fff;
        text-decoration: none; }
    .b-nav-main .container .top-link {
      font-size: 0.9rem;
      margin: 0;
      font-family: OS-Regular;
      border-left: rgba(255, 255, 255, 0.5) solid 1px;
      color: #fff;
      padding: 16px 10px 15px 10px;
      text-decoration: none; }
    .b-nav-main .container .login-link {
      float: right;
      text-decoration: none;
      color: #fff;
      text-transform: capitalize; }

.b-nav-header {
  height: auto;
  width: 100%;
  background: linear-gradient(black, #2a5bb8); }
  .b-nav-header .container {
    height: auto;
    padding: 0px; }
    .b-nav-header .container h1,
    .b-nav-header .container h2 {
      position: relative;
      top: 15px;
      font-family: OS-Bold;
      color: #fff; }
    .b-nav-header .container img {
      margin-top: 30px; }

.b-requests {
  background: #fff;
  height: 500px; }
  .b-requests .row .box {
    margin: 15px auto;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #ababab; }
    .b-requests .row .box h2 {
      padding: 10px 0px;
      display: inline-block; }
      .b-requests .row .box h2 a {
        color: #313131;
        text-decoration: none; }
        .b-requests .row .box h2 a:hover {
          text-decoration-line: underline; }
    .b-requests .row .box i {
      color: #fff; }
    .b-requests .row .box .edit {
      border-radius: 2px;
      padding: 10px 20px;
      background: #2a5bb8;
      float: right;
      position: relative;
      left: -55px;
      top: 5px; }
    .b-requests .row .box button {
      border-radius: 2px;
      height: 38px;
      width: 50px;
      border: none;
      background: red;
      top: -42px;
      position: relative;
      float: right; }

.b-reqpost-container {
  margin: 15px auto;
  background: white;
  height: 100vh; }
  .b-reqpost-container .b-reqpost {
    width: 80%;
    margin: 0 auto;
    padding: 20px 15px; }
    .b-reqpost-container .b-reqpost h1 {
      font-family: OS-Bold;
      font-size: 2rem; }
    .b-reqpost-container .b-reqpost p {
      font-size: 1.2rem;
      font-family: OS-Regular; }
