<div class="container-fluid b-articles">
      {{#if articles}}
    {{#each articles}}
  <div class="articles-wrapper">
    <div class="box">
    <h4><a href="/user/articles/published/{{_id}}">{{title}}</a></h4>
    </div>
  </div>
      {{/each}}
    {{/if}}
</div>