<div class="container b-create">
<h1>Posts <span>Create new</span></h1>
<form action="/user/create" method="post" enctype="multipart/form-data">
{{#if errors}}
{{#each errors}}
<small>{{msg}}</small>
{{/each}}
{{/if}}
<label for="title">Title</label>
<input type="text" name="title" placeholder="Title..." id="title" autocomplete="off" value="{{title}}">
<label for="body">Body</label>
<textarea id="editor" name="body" rows="10" cols="5">{{body}}</textarea>
<input type="hidden" name="csrf" value="{{csrfToken}}">
<button type="submit">Post</button>
</form>

</div>