<div class="container panel">
  {{#if success}}
  <h1>{{success}}</h1>
  {{/if}}
  <div class="post-box">
      <h3>Number requested:<span></span></h3>
      <h3>Your recent request: <span></span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorum commodi similique excepturi. Dolorem delectus vel unde aperiam repellat voluptate!</p>
      <a href="#">View them all</a>
  </div>
    <div class="post-box">
      <h3>Your Publish Article: <span></span></h3>
      <h3>Recent: <span></span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorum commodi similique excepturi. Dolorem delectus vel unde aperiam repellat voluptate!</p>
      <a href="#">View them all</a>
  </div>
</div>