<div class="container b-post-container">
  <div class="b-post">
  <div class="options">
    <small>Options <i class="fa fa-wrench"></i> <i class="fa fa-angle-down"></i></small>
          <div class="items">
    <small><a href="/user/article/edit/{{docs._id}}">Edit</a></small>
    <small id="delete-article" data-id={{docs._id}}><a href="#">Delete</a></small>
    </div>
  </div>
  <h1>{{docs.title}}</h1>
  {{{docs.body}}}
  </div>
</div>