<div class="container b-login">
  {{#if errors}}
  <div class="b-warning" id="warning">
    <h3>{{errors}}</h3>
  </div>
  {{/if}}
  {{#if success}}
    <div class="b-success" id="success">
    <h3>{{success}}</h3>
  </div>
  {{/if}}
  
<form class="b-form" action="/home/login" method="post">
  <h2>Login To Your Account</h2>
  <input type="text" name="username" placeholder="Username*" id="username">
  <input type="password" name="password" placeholder="Password*" id="password">
  <button type="submit">Login</button>
  <a href="#">Forgot Password?</a>
</form>
</div>