<div class="container-fluid b-radioastronomy">
    <div class="sidebar">
      {{> radioastronomy/_sidebar}}
    </div>
    <div class="page">
      <h1>Introduction to Radio Astronomy</h1>
     <p>These pages are intended for those aspiring to become Radio Astronomers. Much of the theory presented here has been deliberately simplified for easier reading.</p>

<p>new major piece of work identifying and discussing likely targets that can be observed by an aspiring Amateur Radio Astronomer is discussed here.</p>

<p>Most amateur astronomers fail to take an active interest in making radio observations owing to the erroneous belief that large parabolic aerials and complicated electronic circuits are required to receive the very faint signals arriving from space. They are put off, too, in thinking that the radio astronomer’s output comprises nothing more than reams of paper on which traces akin to squiggly lines are recorded.</p>
<hr>
<img src="http://britastro.org/radio/images/summer-night-sky-408MHz.png" alt="">
<small>From the John Smith 408MHz All Sky Survey</small>
<p>It is the purpose of these web-pages to dispel such beliefs and illustrate that observations of scientific merit can be achieved by modest setups that are easily accommodated in an average-sized back garden. The foundations of radio astronomy were laid down by electrical engineers and physicists, not astronomers, and it is the rapid developments in electronics and computing over recent years that makes the building of a personal radio astronomy observatory both feasible and affordable. The tools available to the radio astronomer are now able to produce images having superior resolution to anything found in other branches of astronomy.</p>
<p>
  Radio frequency radiation from the Sun is much smaller than its optical counterpart but the Sun’s proximity makes it appear as the brightest celestial radio source and consequently the easiest object to observe for radio astronomers. In comparison to the minute changes in brightness in its visible spectrum, the Sun exhibits variability of about six orders of magnitude at radio frequencies and thus provides for an extremely interesting object to study. Solar radio emission has three well-defined components originating from transient events, bright regions and the so-called "quiet" Sun with each revealing different properties at different frequencies. These components are easily received using a simple aerial matched with a suitably-designed radio receiver and spectra can be obtained which clearly show that events on the Sun have taken place. With receiving aerials set up to operate in a mode known as an interferometer, it is possible, for example, to detect the movement of bright sources as they rotate about the solar axis and infer structural detail of the Sun’s outer corona as it occults strong radio sources such as Taurus-A. A visit to our “VLF Solar Radio” in the Beginning Radio Astronomy section will reveal more details about solar radio astronomy and our varied plans for making receiving equipment and observations.
</p>
<img src="http://britastro.org/radio/images/vlfant.png" alt="">
<p>
  Radio emission has been detected from all of the major planets but it is only the decametric radiation from Jupiter which is likely to be of interest to the amateur radio astronomer. This relatively strong signal covers a range from about 40MHz down to a lower frequency as determined by the electron density of the Earth’s ionosphere and is typically in the range of 15 to 10MHz. As Jupiter rotates so three peaks in radio frequency emission can be observed that occur as a consequence of the position of the Galilean moon, Io, in its parental orbit. Quite often there is a strong periodic output plus two weaker ones at these same sites that are independent of Io’s location which combine to make Jupiter a fascinating object for study at radio frequencies. Naturally the Radio Astronomy Group is keen to promote observations of Jupiter, as an inspection of our “Radio Jove” section will illustrate.
</p>
<p>
  It is known that our solar system resides within a spiral galaxy because of the radiation emitted by neutral atomic hydrogen: the Doppler-shifted reception of this emission from its rest frequency of 1,420.406MHz has enabled the motion and structure of our galaxy to be deduced. The Radio Astronomy Group believes that the studying of hydrogen line profiles with a view to mapping our galaxy’s features is paramount to acquiring measurement and data reduction skills that will be needed for more ambitious projects. One of our main objectives, therefore, is the development of a hydrogen line receiver and associated spectrometer to provide the tools to enable us to measure Hydrogen density and relative velocity so that amateurs can make worthwhile observations of scientific importance.
</p>
<small>
  Terry Ashton
</small>
<p>
  (It is planned to reorganise these pages in the next few weeks. These pages will focus on high level theory and the practical aspects will be moved into the Projects section)
</p>
    </div>
</div>