<div class="container-fluid b-radioastronomy">
<div class="sidebar">
   {{> radioastronomy/_sidebar}}
</div>
<div class="page">
  <h1>Magnetometry
</h1>
<p>Magnetometry is the study of variations of the Earth's magnetic field. The field forms a magnetic dipole, with the south magnetic pole near the Earth's geographic north pole. The field is generated due to the dynamo effect caused by the rotation of the earth and also due to having a molten nickel iron core. The fields extends infinitely into space but looses strength (due to the inverse square law) as it moves further from the poles. The Earth's magnetic field, which extends several tens of thousands of kilometers into space, is called the magnetosphere and it is this that is affected by events on the Sun.</p>
<p>The magnetosphere varies due to interaction with the solar interplanetary magnetic field. This animation from wikipedia (original source NASA) shows how the magnetosphere fluctuates with changes in the solar magnetic field.</p>
<img src="http://britastro.org/radio/images/magnetic-field.jpg" alt="">
<p>There are 3 main causes of magnetosphere variation.
</p>
<p>1. Diurnal variation.The solar wind is constantly compressing the leading edge of the magnetosphere. As the earth rotates, there is a daily shift of a few nT (nanoTesla) which can be easily detected with a modern magnetometer.</p>
<p>2. Variations in the Solar magnetic field. These moderate changes (tens of nT) appear to be related to coronal holes. This magnetogram from 2010-05-02 shows how these variations are manifested.
</p>
<img src="http://britastro.org/radio/images/mgram1.jpg" alt="">
<p>It should be noted that there is normally a delay of about 3 days before these effects are seen at the Earth. This coronal hole is the cause of the disturbances detected by the magnetometer.
</p>
<img src="http://britastro.org/radio/images/c-hole.jpg" alt="">
<p>http://britastro.org/radio/images/c-hole.jpg</p>
<p>Over the period 2004-11-07 to 2004-11-10 the magnetosphere was severely disrupted by a succession of CME’s. The resulting visual aurora was superb and visible from Southern Europe and the system provided an excellent early warning system.</p>
<img src="http://britastro.org/radio/images/mgram2.JPG" alt="">
<img src="http://britastro.org/radio/images/mgram3.JPG" alt="">
<h1>Instruments
</h1>
<p>A very simple magnetometer can be produced by a magnet suspended in a jam jar and the BAA Aurora section have this solution described here. There have been several variations on this design published over the years and an internet search will identify several options. However, none of these are really suitable for recording events that (as can be seen from the magnetograms above) can occur very quickly.
</p>
<p>A German/Dutch group offer a kit - details are available on the SAM Website.This is a very sensitive instrument, but is also very sensitive to temperature changes. This means that the remote sensors need to be buried quite deep to maintain temperature stability.</p>
<p>The UKRAA are also currently close to releasing a 2 axis instrument designed by BAA's John Cook. Contact the UKRAA for details.
</p>
  </div>
  </div>