<div class="container-fluid b-radioastronomy">
    <div class="sidebar">
      {{> radioastronomy/_sidebar}}
    </div>
    <div class="page">
      <h1>Introduction to Radio Astronomy</h1>
      <p>
        Most amateur astronomers observe in Visible light. The electromagnetic spectrum encompasses a vast scope, starting almost at Direct Current and with frequencies up to 2.4×1023 Hz (Gamma rays).
      </p>
      <img src="http://britastro.org/radio/images/spectrum.jpg" alt="">
      <small>(image courtesy wikipedia) 
</small>
<p>As can be seen from the figure, visible light comprises a tiny fraction of the entire EM spectrum - everything else is considered to be fair game for radio astronomers
</p>
<p>
  However, not all this radiation can actually penetrate the atmosphere. Additionally, much of the spectrum is used by commercial bodies - for example, television, mobile phones, data communications etc. In fact, there is actually very little left that is potentially usable yet unused. Because of this, certain bands of frequencies are protected and these should be considered if serious observations are planned. It is not necessary to stick to these bands though, in fact it can be much more rewarding and easier making use of existing consumer hardware and living with the interference. This is potentially no worse than that most optical astronomers have to put up with - observing through a light polluted sky.
</p>
<h3>Radio Astronomy Protected Frequencies
</h3>
<p>There are a number of internationally protected frequencies that are sererved for the use of Radio Astronomers. However, not all these are globally honoured. For example, the band 73 - 74.6MHz is peculiar to the USA and Canada whereas it is unrecognised in the UK. It should also be noted that the 608 - 614MHz band will lose its protection in the UK from September 2012.
</p>
<table cellspacing="1" cellpadding="1">
  <thead>
    <tr>
      <td>Frequency band	</td>
      <td>Status</td>
      <td>Radio astronomy use</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13.36 - 13.41 MHz	t</td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <td>25.55 - 25.67 MHz</td>
      <td>37.5 - 38.25 MHz</td>
      <td>Continuum observations</td>
    </tr>
            <tr>
      <td>73 - 74.6 MHz</td>
      <td></td>
      <td>Solar wind observations,
Continuum observations.</td>
    </tr>
            <tr>
      <td>80.5 - 82.5 MHz	</td>
      <td></td>
      <td>Continuum observations. 
, Pulsar observations. 
, Solar observations.
</td>
    </tr>
            <tr>
      <td>Column Content</td>
      <td>Column Content</td>
      <td>Column Content</td>
    </tr>
  </tbody>
</table>
<p>The majority of Amateur Radio Astronomy observations are usually performed at less than 12GHz. Higher frequencies are deemed to be very exotic requiring very specialist construction and measurement techniques
</p>
<h3>Resources</h3>
<a href="#">Committee on Radio Astronomy Frequencies</a>
</div>