<div class="container-fluid b-radioastronomy">
<div class="sidebar">
   {{> radioastronomy/_sidebar}}
</div>
<div class="page">
  <h1>Radio Jove
</h1>
 <p>Jupiter is famous for many things. It is the largest planet in the Solar 
        System, it has a wonderful system of belts and visible storms and for 
        Radio Astronomers, it has a very intense magnetic field.</p>
      <p>This magnetic field, and the presence of its innermost moon, Io, provide 
        Radio Astronomers with the opportunity to detect and resolve the magnetic 
        storms and the generated radio waves that are detectable on Earth and 
        can even be heard with a simple HF (High Frequency) communications receiver.</p>
      <p>CML stands for Central Meridian Longitude. Jupiter has no fixed fixed 
        points of reference as even the cloud belts rotate at different speeds. 
        The CML helps observers tell which part of the planet is facing Earth 
        during an observation.</p>
      <p>Jupiter's longitude is identified using System III which uses the magnetic 
        field of Jupiter as opposed to the visible cloud tops used in the previous 
        systems. The benefit of using the magnetic field of Jupiter instead of 
        the visible cloud tops is that the magnetic field is controlled by the 
        interior of the planet and is therefore 'fixed' as opposed to measuring 
        the rotational rates of clouds which change with latitude. </p>
      <p>Io is Jupiter's innermost moon and the position of Io relative to Jupiter 
        has a major effect on the occurrence of radio storms. When Io is at certain 
        positions in its orbit around Jupiter the probability of a radio storm 
        occurring is much greater. The position of Io in its orbit relative to 
        an observer is referred to as the phase of Io. When Io is directly behind 
        Jupiter, as viewed from Earth, the phase is said to be zero. Looking from 
        above, Io revolves anticlockwise and orbits Jupiter almost every two days.</p>
      <p>Io is constantly being pulled by Jupiters' gravity and as a result has 
        a molten core. Io is also already well known as the most highly volcanic 
        object in the Solar System. Due to the interaction of Jupiter's magnetic 
        field, the volcanic ejecta that escapes Io's gravity forms a torus which 
        is mainly Sulfur based. This torus loses its electrons and is therefore 
        ionised. This ionised torus is conductive and due to the interaction with 
        Jupiters magnetic field, can cause the emission of decametric wavelength 
        (detectable on Earth between 10MHz to 40MHz) radio waves. It should be 
        noted that there is a great deal of uncertainty just how these radio waves 
        are generated and propagated which is why the study of Jupiter is so interesting.</p>
        <img src="http://britastro.org/radio/images/jupiter_radio_1.gif" alt="">
        <small>Images courtesy of Imai Lab., Kochi National College of Technology
</small>
<p>The NASA Radio Jove Project has details of a receiver and aerial on it's website. Most observations are performed at about 20.1MHz where the transmissions are strongest, however, the UKRAA are in early development of a broad band receiver which will probably scan and record (a spectrometer) from about 10MHz to 30MHz. There are other options as well. HF Communications receivers (that have a CW or SSB option) are ideal and other kit options are also available.</p>
<p>Simple wire aerials (although large - garden sized) can be easily erected and normally have 2 or more elements of about 7 metres across separated by about 4 metres. It is important that aerials have a certain amount of directivity, this provides forward gain and also helps reject unwanted signals (interference) originating from other directions.
</p>
<h4>Resources
</h4>
      <p>NASA run a very successful outreach programme called Radio Jove. A great 
        deal of information on Radio Jove is available from their website <a href="http://radiojove.gsfc.nasa.gov/" target="_blank">here</a>.</p>
        <p>There is a very active Radio Jove Yahoo group. Subscribe by sending an e-mail message to: Radio_JOVE-subscribe@yahoogroups.com
</p>
  </div>
  </div>