<div class="container-fluid b-radioastronomy">
  <div class="sidebar">
   {{> radioastronomy/_sidebar}}
</div>
<div class="page">
  <h1>Very Low Frequency Observations</h1>
  <p>Very Low Frequency astronomy is possibly the easiest form of radio astronomy that can be undertaken. The aim is to observe the impact of solar flares upon the earth’s ionosphere through Sudden Ionospheric Disturbances, or SIDs. A more detailed explanation of SIDs and how they arise can be found in Alan Melia’s paper on Flare Detection using VLF transmissions, available in the Downloads section.
</p>
<p>The electronics are not critical, the aerial is fairly small and reception can even be performed on a PC with NO receiver (by simply connecting an aerial to the sound card). The aerial usually consists of a loop of wire – about 120 turns on a 600mm square frame. The wire loop feeds a simple amplifier and filter and a DC output is recorded to a chart. The receiver is tuned to a remote VLF transmitter (usually operated by the military for submarine communications) about 1000km away. The transmitted signal is reflected by the ‘D’ layer in the earth’s atmosphere. During daylight hours the signal strength received from these transmitters remains fairly constant. When a solar flare occurs, the radiation from the sun affects the ‘D’ layer, causing either an increase in signal or decrease in received signal. In some cases, the signal can completely disappear, particularly with strong ‘X’ class flares. The example trace shown is of an M8.3 class flare that occurred on 2010-02-12. This shows an enhanced signal from 2 transmitters (one local UK (red) and the other (blue) in France).</p>
<p>There is an active group of observers recording SIDs with John Cook compiling a monthly summary report. A full description of flare classification can be found on the RAG page here. New observers are always welcome and if you wish to participate please contact the BAA RAG Coordinator.</p>
<img src="http://britastro.org/radio/images/m-class-flare.jpg" alt="">
<p>There are a few options for getting started.
</p>
<p>1. As explained, one very easy option is to simply connect a loop antenna directly into the Line In input on a PC Sound Card. Use a 'waterfall' application such as Spectrum Lab available from http://dl4yhf.ssl7.com/spectra1.html.</p>
<img src="http://britastro.org/radio/images/spec-lab.jpg" alt="">
<p>An easier to use (but less feature rich) alternative is Spectran, available from http://www.weaksignals.com/.
</p>
<img src="http://britastro.org/radio/images/spectran.jpg" alt="">
<p>The output from this type of software is a sample of a radio spectrum (limited in this case by the capability of the sound card) up to a maximum frequency of about 20kHz.
</p>
<p>It is possible to record the output from these applications, but they are not ideal for long term logging and analysis of solar events, however, some observers do just this and make very useful observations.
</p>
<p>Ideally, a dedicated VLF receiver should be acquired, and there are a number of options.
</p>
<img src="http://britastro.org/radio/images/vlf-rx.jpg" alt="">
<p>The architecture of a VLF receiver is essentially the same as for all types of receivers. There are 5 basic components, an aerial which collects the radiation. Generally, the bigger the aerial (tuned to the correct freqency), the more radiation that is collected . The filter discriminates and selects only the signal that you want to observe. The amplifier stages magnify the received signal to something that can be worked with. The detector stage converts the amplified signal to a direct current that is then recorded (along with a time stamp) at the PC.</p>
<p>2. Scratch build a receiver. Not really a feasible option for a total beginner, but if you have constructed an electronic kit of some sort then this is a valid option. The UKRAA offer a kit or alternatively, constructional detail for a simpler design, the Gyrator II is available from the AAVSO.</p>
<p>3. Finally, the 3rd option is to buy a ready assembled unit. The UKRAA also offer a full range of assembled modules (including pre wound aerials) so that it really is a case of simply plugging together a series of modules and perform some basic tuning and you are away.</p>
<p>NASA also run the INSPIRE project and offer a VLF Receiver kit - the VLF-3 which is more orientated towards listening for the ‘natural radio’ effects caused by the interaction of lightning and the earth’s magnetic field..</p>
<p>Details are available from here.</p>
<p>All these receivers require a device to convert the analogue signal to a digital signal that the computer can understand. This is normally incorporated within the receiver and connection to the computer is via a standard interface cable.</p>
<p>Logging the data and displaying the results requires a chart recorder. This can be a driven paper and pen recorder although most observers use a PC. The standard chart recording software used by most observers is Radio SkyPipe available from Radio Sky.</p>
<img src="http://britastro.org/radio/images/RadioSkyPipe.jpg" alt="">
<p>There are 2 versions available, a limited functionality free version and a fully featured version available for a moderate price. The latter version supports multiple inputs and has features such as ftp upload so that charts can be automatically published.</p>
</div>
</div>