<div class="b-body container-fluid">
    <div class="row home-row">
        <div class="col-lg-9">
            {{#each results}}
            <article class="box">
                <a href="/home/post/{{_id}}"><div class="img"></div></a>
                <h4><a href="/home/post/{{_id}}">{{title}}</a></h4>
            </article>
            {{/each}}
            <a href="#" class="see-more-link">See More</a>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>